/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  margin: 0px;
  height: 100%; /* fallback for IE and older browsers */
  height: 100vh;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  /*min-height: 100%;
}*/

body {
  height: auto; /* required to allow content to expand vertically without overflow */
  width: auto;
  min-height: 100%; /* fallback for IE and older browsers */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #FEF5DC;
  height: 100px;
}
.nav-links{
  list-style-type: none;
}
.div_links{
  margin-left: 10%;
  width: 700px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
.menu{
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.div_boxes{
  width: 150px;
  height: 30px;
  background-color: teal;
  text-align: center;
  color: white !important; 
}

.div_boxes a{
  color: white !important; 
}

.main_section{
  background-color: #C4AF6D;
  height: 1150px;
  position: relative;
}
.footer{
  background-color: #CC9060;
  height: 70px;
}
.upper_section{
  position: relative;
  height: 200px;
  background-color: #EAD7D2;
  backdrop-filter: blur(10px);
}
.div_button{
  position: absolute;
  margin-left: 20%;
  margin-top: 15%;
  width: 200px;
  height: 90px;
  text-align: center;
  background-color: teal;
}
.div_button p{
  padding: 10px;
}
.div_button p a:link { text-decoration: none; }


.div_button p a:visited { text-decoration: none; }


.div_button p a:hover { text-decoration: none; }


.div_button p a:active { text-decoration: none; }

.div_button p a{
  color: white !important; 
  font-size: xxx-large;
  padding-bottom: 2px;
}
div.div_button :hover{
  background-color: #1861ac;
}
div.div_boxes :hover{
  background-color: #1861ac;
}
.m_canvas {
  position: absolute;
  margin-top: 100px;
  margin-left: 30%;
  width : 500px;
  height : 100px;
}
.text-center.first-page{
  /*background-color: #383d41;*/
  background-color: #C4AF6D;
  /*padding-top: 50px;*/
  height: 100%;
  
}
.logo-container{
  height: 200px;
  width: 500px;
  background-image: url("/images_tobeused/background-photo.jpg");
  /*background-color: transparent;*/
  background-size: contain;
  display: flex;
  justify-content: center;
  margin: 0 30%;
  padding: 20px 0;
  margin-bottom: 20px;
}
.logo-page-info{
  color: white;
  margin-top: 10%;
}
.second_pic{
  /*background-image: url("/images_tobeused/restaurantphoto.jpg");*/
  height: 200px;
  width: 550px;
  margin-left: 20%;
  

}
.logo-page-info.two{
  margin-top: 30px;
}
.second-page{
  /*background-color: #383d41;
  height: 200px;*/
  height: 100%;
  width: 100%;
  position: relative;
  /*background-color: #383d41;*/
}
.dropdown-div{
  position: absolute;
  background-color: white;
  height: 50px;
  width: 200px;
  margin-left: 40%;
  margin-top: 2%;
  border: 10px solid #0c0c0bfb;
}
.restaurant-details{
  position: absolute;
  background-color: white;
  height: 217px;
  width: 750px;
  margin-top: 150px;
  margin-left: 20%;
  border: 10px solid #0c0c0bfb;
}
.restaurant-image{
  position: absolute;
  height: 300px;
  width: 750px;
  margin-top: 450px;
  margin-left: 20%;
  border: 10px solid #0c0c0bfb;
}
.rest_image{
  max-width: 100%;
  max-height: 100%;
  padding-left: 11%;
}
.outer_button_reserve_seat{
  position: absolute;
  height: 50px;
  width: 350px;
  margin-top: 800px;
  margin-left: 28%;
  border-radius: 1px;
}
.button_reserve_seat{
  position: absolute;
  background-color: teal;
  height: 50px;
  width: 350px;
  /*margin-top: 800px;*/
  margin-left: 25%;
  text-align: center;
  padding: 10Px;
  font-size: 20px;
  color: white;
  border-radius: 1px;
}
.button_2 a:link, .button_2 a:visited, .button_2 a:hover, .button_2 a:active{
  text-decoration: none;
  color: white !important;
}
.details {
  position: absolute;
  padding-top: 10px;
}
.div_inside {
   padding: 0;
   margin-left: 35%;
   width: 500px;
}
.end_page{
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 1000px;
  margin-left: 0px;
}
.third_page{
  height: 100%;
  width: 100%;
  position: relative;
}
/*.acceptance-info{
  position: absolute;
  height: 100px;
  width: 400px;
  text-align: center;
  font-size: bold;
  margin-left: 40%;
  margin-top: 50px;
  border: 10px solid #0c0c0bfb;
  padding: 20px;
}*/

.main_box{
  position: absolute;
  height: 200px;
  width: 700px;
  text-align: center;
  font-size: bold;
  margin-left: 30%;
  margin-top: 50px;
  border: 10px solid #0c0c0bfb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.countdown_box{
  float: left;
  width: 300px;
  border:1px solid black;
}
.acceptance-info{
  float: left;
  width: 300px;
  border:1px solid black;
  padding-top: 5%;
  font-size: medium;
}

.thanks-info{
  position: absolute;
  background-color: white;
  height: 200px;
  width: 700px;
  margin-left: 30%;
  margin-top: 300px;
  border: 10px solid #0c0c0bfb;
  text-align: center;
  font-size: bold;
  padding: 20px;
}
.end_page_two{
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 500px;
  margin-left: 0px;
}
/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there 
} */
