@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center first-page">
    <div class="logo-container">
    </div>
    <div class="logo-page-info">
        <h1 class="main-title">Is a Seat Available in Any Cafe?</h1>
        <p class="sub-title"><string>Confirm if a Seat is Avaialble</string><br/> And book the seat before going to the cafe</p>
        <p><a class="button" id="load-more-content" asp-page="Resdetails">Enter</a></p>
        <P>In order to preserve a seat</P>
    </div>
</div>
